<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>



<div class="wrapper-grey padded">
  <div class="container">

    <h2 class="text-center">The sublime restaurants list</h2>

        <div class="row">

          <div>

            <% @restaurants.each do |restaurant| %>

              <div class="col-xs-12 col-sm-4">
<!--                 <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/300/200/?random');"> -->
                  <div class="card-category"><%= restaurant.name %></div>
                  <div class="card-description">
                    <h2><%= restaurant.address %></h2>
                    <p><%= restaurant.category %></p>
                    <p><%= restaurant.phone_number %></p>
                  </div>
                  <img class="card-user avatar avatar-large" src="images/seb.jpg">
                  <a class="card-link" href="#" ></a>
                  <div>
                  <%= link_to '<i class="fa fa-eye"></i>'.html_safe, restaurant_path(restaurant) %>
                  <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_restaurant_path(restaurant)  %>
                  <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, restaurant_path(restaurant),
                  method: :delete,
                  data: {confirm: "Are you sure?"} %>
                  </div>

               </div>
            </div>

          <% end %>

      </div>
    </div>

  </div>
</div>

